* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}

.modules-center {
    background-color: rgba(0, 255, 0, .5);
    border-radius: 0 10px 10px 0;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
}

#workspaces button {
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 0;

    color: #fff;
    background-color: transparent;

    box-shadow: 0 -1px 0 rgba(181, 255, 181, 0.5)
}


/* my workspace 10 (in my sway config) is named hell, so this is here to make sure it doesn't change the width of the bar */
#workspaces button:last-child {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;

    border-radius: 0;
    border-bottom-right-radius: 10px;
    

}
#workspaces button:first-child {
    border-radius: 0;
    border-top-right-radius: 10px;
}

#workspaces button:hover {
    box-shadow: 0 -1px 0 rgba(181, 255, 181, 0.5), inset 3px 0 0 rgba(181, 255, 181, 0.5);
    background: rgba(0,0,0,0.0); 
    transition-duration: .1s;
    border-color: transparent;
}

#workspaces button.focused {
    box-shadow: 0 -1px 0 rgba(181, 255, 181, 0.5), inset 3px 0 0 rgb(200, 255, 200)
    /* background-image: radial-gradient(circle at bottom, #54a869 40%, transparent 20%); */
    /* background-image: radial-gradient(circle at center, rgb(84, 166, 104) 40%, transparent 20%); */
}

#workspaces button.urgent {
    box-shadow: 0 -1px 0 rgba(181, 255, 181, 0.5), inset 3px 0 0 rgb(255, 100, 100)
}