
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
}

window#waybar {
    background-color: transparent;
}
window#waybar.hidden {
    opacity:0.2;
}

.modules-center { 
    background-color: rgba(0, 255, 0, .5);
    border-radius: 0 0 10px 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#window {
    padding: 0px;
}

#waybar.empty .modules-center {
    background: none;
}

.modules-right {
    background-color: rgba(0, 255, 0, .5);
    border-radius: 0 0 0 10px;
}

#memory,
#backlight,
#network,
#battery,
#clock {
    box-shadow: inset 1px 0 0 rgba(181, 255, 181, 0.5);
    padding-right: 6px;
    padding-left: 6px;
}
#cpu {
    padding-right: 6px;
    padding-left: 6px;
}

.modules-left {
    background-color: rgba(0, 255, 0, .5);
    border-radius: 0 0 10px 0;
}

#disk,
#idle_inhibitor,
#tray {
    box-shadow: -1px 0 0 rgba(181, 255, 181, 0.5);
    padding-right: 6px;
    padding-left: 6px;
}

/* "modules-left": ["disk", "idle_inhibitor", "tray"], */
